<h4>Bases de datos</h4>


<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Fuente</th>
        </thead>
        <tbody>
            
            <tr>
                <td>Uso de</td>
                <td>Telefónica</td>
            </tr>
            
            <tr>
                <td>Tweets georefenciados en Zapopan</td>
                <td>Twitter</td>
            </tr>
            
             <tr>
                <td>Check-ins georeferenciados</td>
                <td>Foursquare</td>
            </tr>
            
             <tr>
                <td>Bibliotecas</td>
                <td>Municipio Zapopan</td>
            </tr>
            
             <tr>
                <td>Centros Recreativos</td>
                <td>Municipio Zapopan</td>
            </tr>
            
            <tr>
                <td>Festividades</td>
                <td>Municipio Zapopan</td>
            </tr>
            
            <tr>
                <td>Parques</td>
                <td>Municipio Zapopan</td>
            </tr>
            
            <tr>
                <td>Centros de Salud</td>
                <td>Municipio Zapopan</td>
            </tr>
            
            <tr>
                <td>Templos</td>
                <td>Municipio Zapopan</td>
            </tr>
            
            <tr>
                <td>Tianguis</td>
                <td>Municipio Zapopan</td>
            </tr>
            
            <tr>
                <td>Incidencia Delictiva</td>
                <td>Municipio Zapopan</td>
            </tr>
            
              <tr>
                <td>Accidentes Viales</td>
                <td>Municipio Zapopan</td>
            </tr>
            
            <tr>
                <td>Linea Zapopan</td>
                <td>Municipio Zapopan</td>
            </tr> 
            
            <tr>
                <td>Eventos masivos</td>
                <td>Municipio Zapopan</td>
            </tr> 
            
            <tr>
                <td>Eventos masivos</td>
                <td>Municipio Zapopan</td>
            </tr> 
            
            <tr>
                <td>Información censal a nivel localidad</td>
                <td>INEGI</td>
            </tr> 
            
            <tr>
                <td>Información censal a nivel ageb</td>
                <td>INEGI</td>
            </tr>
            
            <tr>
                <td>Información censal a nivel manzana</td>
                <td>INEGI</td>
            </tr> 
            
            <tr>
                <td>Información sobre vialidades</td>
                <td>INEGI</td>
            </tr>
            
            <tr>
                <td>Servicios Urbanos</td>
                <td>INEGI</td>
            </tr>
            
            <tr>
                <td>Escuelas</td>
                <td>SEP</td>
            </tr>
            
            <tr>
                <td>Información climatológica</td>
                <td>CONAGUA</td>
            </tr>
            
        </tbody>
    
</table>