<h4>Preguntas de investigación</h4>
<p>Con la finalidad de guiar el análisis, se propone una serie de preguntas de investigación, sin embargo los equipos podrán explorar cualquier línea de investigación de su elección. Las preguntas sugeridas son las siguientes:</p>

— Predicción y análisis espacial de crimen.<br>
— Diseño de rutas de patrullaje de policía y tránsito.<br>
— Ubicación posible de camaras de seguridad.<br>
— Predecir la demanda de servicios urbanos.<br>
— Diseño de métodos para calcular afluencia en eventos.<br>
— Encontrar la procedencia de turistas.<br>
— Predecir la demanda de servicios de salud.<br>
